<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caminho Mais Barato</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <h1>Cálculo do Caminho Mais Barato</h1>
        
        <div class="form-group">
            <label for="kmPerLiter">Autonomia do Veículo (km/l):</label>
            <input type="number" id="kmPerLiter" placeholder="Ex: 10">
        </div>
        
        <div class="form-group">
            <label for="precoGasolina">Preço do Combustível (R$/litro):</label>
            <input type="number" id="precoGasolina" placeholder="Ex: 5.59">
        </div>
        
        <div class="form-group">
            <label for="origem">Origem:</label>
            <select id="origem"></select>
        </div>
        
        <div class="form-group">
            <label for="destino">Destino:</label>
            <select id="destino"></select>
        </div>
        
        <button id="calcularButton">Calcular</button>
        
        <div id="resultado" class="resultado"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
